@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: rgb(6, 5, 5);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
